* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: conic-gradient(
    from 169.99deg at 38.79% 56.55%,
    #ddc3b0 -39.44deg,
    #d2dcf7 48.14deg,
    #c4f4ec 132.64deg,
    #c6e3dc 171.28deg,
    #ddc3b0 320.56deg,
    #d2dcf7 408.14deg
  );
}
.active {
  color: #000 !important;
}

.react-calendar__tile--active {
  background: #81705D!important;
  color: white;
  border-radius: 50%!important;
  width: 50px!important;
  height: 50px!important;
}

.react-calendar__tile:hover{
  border-radius: 50%!important;
  width: 50px!important;
  height: 50px!important;
}
.react-calendar button{
  
  padding: 20px 0px !important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
.react-calendar{
  border: none!important;
}
.react-calendar__tile--now{
  background: #E4ECE7!important;
  border-radius: 50%;
  width: 50px!important;
  height: 50px!important;
  color: #000!important;
}