.App {
  text-align: center;
}

.active{
  color: #000!important;
}

html{
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: conic-gradient(from 169.99deg at 38.79% 56.55%, #DDC3B0 -39.44deg, #E6D2F7 48.14deg, #C4F4EF 132.64deg, #C6E3D9 171.28deg, #DDC3B0 320.56deg, #E6D2F7 408.14deg);
  font-family: 'Helvetica Neue';
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

button:hover{
  cursor: pointer;
}

/*CSS for the Login Page----------------------------*/
.Login-Box {
  width: 699px;
  height: 504px;
  background: rgba(255, 255, 255, 0.51);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 69px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.Login-Box > h1 {
  color:#67CAB8;
  text-align: center;
  margin-top: 10%;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
}

.Login-Box > input {
  background: #D9D9D9;
  border-radius: 16px;
  width: 493px;
  height: 54px;
  margin-top: 40px;
  padding-left: 20px;
  border: 0;
  outline: 0;
}

::placeholder {
  color: #8B8888;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}

.Login-Box > p {
  color: #797979;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  margin-top: 10%;
}

.Login-Box > button {
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: -30px;
}

/*CSS for the Landingpage----------------------------------------*/
.Landingpage-Header {
  width: 100%;
  height: 600px;
  background: #F2DBC5;
  z-index: 0;
}

.Landingpage-Header > h1 {
  margin-left: 10%;
  color: #A1876F;
  font-weight: 700;
  font-size: 64px;
  padding-top: 70px;
  position: relative;
  z-index: 2;
}

.Landingpage-Header > button {
  position: absolute;
  width: 291px;
  height: 66px;
  left: 10%;
  top: 565px;
  background: linear-gradient(179.05deg, #C9AC91 0.81%, #81644A 199.8%);
  border: 3px dashed #483B2E;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color:#FFFEFC;
  z-index: 2;
}

.Landingpage-Header > button:hover{
  color:#81644A;
}

.header-content{
  position: relative;
  width: 675px;
  height: 166px;
  inline-size: 750px;
  overflow-wrap: break-word;
  margin-left: 10%;
  color: #81644A;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin-top:200px;
  z-index: 2;
}

.Landingpage-Box1, .Landingpage-Box2, .Landingpage-Box3{
  display: flex;
  padding-right: 40px;
  align-items: center;
  width: 60%;
  height: 531px;
  background: linear-gradient(108.52deg, rgba(255, 254, 252, 0.5) 2.73%, rgba(255, 224, 177, 0.475) 50.33%, rgba(253, 253, 253, 0.5) 98.36%);
  opacity: 1.0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 53px;
  margin: auto;
  margin-bottom: 10%;
}

.Box1-text, .Box2-text, .Box3-text {
  display: flex;
  flex-direction: column;
}

.Landingpage-Box1 {
  margin-top: 10%;
}

.Landingpage-Box1 > img {
  margin: 0px 50px;
}

.Landingpage-Box2 > img {
  margin: 0px 60px;
}

.Landingpage-Box3 > img {
  width: 325px;
  height: 299px;
  margin: 0px 40px;
}

.Box1-text > h1, .Box2-text > h1, .Box3-text > h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  color: #81644A;
  margin-bottom: 30px;
}

.Box1-text > h2, .Box2-text > h2, .Box3-text > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #81644A;
}

.small-bean{
  position:absolute;
  right: 15%;
  top:150px;
  z-index: 2;
}

.large-bean{
  position:absolute;
  right:16%;
  top:290px;
  z-index: 2;
}

.plant-pot{
  position:absolute;
  right:10%;
  top: 358px;
}

.mark-left{
  position:absolute;
  left:0;
  top: 0;
  width:600px;
  z-index: 1;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.mark-right-top{
  position:absolute;
  right: 0;
  top: 0;
  z-index: 1;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

/*CSS for the navbar-----------------------------*/
.navbar{
  display:flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: -60px;
  margin-bottom: 110px;
}

.navbar li {
  margin-right: 30px;
  font-style: normal;
  font-weight: 340;
  font-size: 24px;
  color: #797979;
}

.navbar li:hover{
  color: #000000;
}

/*CSS for the emotion post page---------------------------------*/
.emotion-post > .content-box {
  margin: auto;
  margin-top: 200px;
  width: 1055px;
  height: 967px;
  left: 110px;
  top: 133px;
  background: rgba(253, 253, 253, 0.6);
  border: 10px solid #CDBBA2;
  backdrop-filter: blur(25px);
  border-radius: 30px; 
} 

.emotion-post > .content-box > h1, h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #AC9C86;
  margin-left: 80px;
}

.emotion-post > .content-box > h1 {
  margin-top: 60px;
  width:20ch;
}

.emotion-post > .content-box > h2{
  position: absolute;
  right: 70px;
  top:20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.emotion-post > .content-box > h3 {
  margin-top: 60px;
}

.emotion-post > .content-box > button {
  width: 157px;
  height: 78px;
  border-radius: 10px;
}

.cancel-button-emotionpost, .post-button-emotionpost {
  position: absolute;
  left: 767px;
}

.cancel-button-emotionpost {
  top: 648px;
  background: #DBD3C9;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color:#AC9C86;
}

.post-button-emotionpost {
  background: #AC9C86;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color:#FFFFFF;
  top: 753px;
}

.emotion-post-input{
  width: 652px;
  height: 399px;
  background: #DBD3C9;
  margin-left: 80px;
  margin-top: 20px;
}

.emotion-box {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
}

.emotion {
  margin-right: 40px;
  text-align: center;
}

.emotion-name {
  color:#706455;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.tab-emotionpost {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 326.01px;
  height: 63px;
  background: #CDBBA2;
  border-radius: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-emotionpost > h1 {
  color: #FFFFFF;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/* CSS for the gratitude Post -----------------------------*/
.gratitude-post {
  margin: auto;
  margin-top: 200px;
  width: 1055px;
  height: 626px;
  left: 110px;
  top: 133px;
  background: rgba(253, 253, 253, 0.6);
  border: 10px solid #81644A;
  backdrop-filter: blur(25px);
  border-radius: 30px; 
} 

.gratitude-post > h1 {
  margin-top: 20px;
  position: absolute;
  width: 720px;
  height: 83px;
  margin-left: 80px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #81644A;
}

.gratitude-post-input {
  position: absolute;
  margin-left: 80px;
  width: 751px;
  height: 224px;
  margin-top: 150px;
  background: #DBD3C9;
}

.tab-gratitudepost {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 326.01px;
  height: 63px;
  background: #81644A;
  border-radius: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.tab-gratitudepost > h1 {
  color: #FFFFFF;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  }

.cancel-button-gratitudepost {
  margin-top: 400px;
  background: #DBD3C9;
  margin-left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color:#81644A;
  width: 157px;
  height: 78px;
  border-radius: 10px;
}

.post-button-gratitudepost {
  margin-top: 400px;
  background: #81644A;
  margin-left: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color:#FFFFFF;
  width: 157px;
  height: 78px;
  border-radius: 10px;
}

/* CSS for the Bonding Journal --------------------------------------------------------*/
.bonding-journal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1072px;
  height: 1098px;
  background: rgba(253, 253, 253, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 30px;
}

.bonding-journal > .content {
  position: absolute;
  display: flex;
  width: 1072px;
  height: 866px;
  bottom: 0;
  border-radius: 30px;
  z-index: 1;
  overflow:hidden;
}

.bonding-journal > .content:before, .bonding-journal > .content::after{
  content:'';
  position: absolute;
}

.bonding-journal > .content:before{
    top:-50px; left:453px;
    width:170px; height:170px;
    border-radius:40%;
    box-shadow: 0px 0px 0px 9999px rgba(240,247,244,255);
    z-index:-1;
}

.bonding-journal .curve-box {
  position:absolute;
  width: 50px;
  height: 50px;
  background: black;
  left:403px;
  border-top-right-radius: 60px;
  box-shadow: 8px -30px 0 0px #0e0e0e;
}

.bonding-journal > .beanbag {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 4rem;
  z-index: 0;
}

.react-calendar {
  background: #FFFFFF;
  border: 5px dashed #81644A !important;
  border-radius: 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 353px;

}

.addlog-calendar {
  margin-right: 50px;
}

.bonding-journal-calendar {
  position: absolute;
  width: 353px;
  margin-left: 60px;
  margin-top: 200px;
}

.react-calendar__navigation {
  display: flex;
}

.react-calendar__tile {
  padding: 15px 6.6667px !important;
}

.react-calendar__tile--active {
  width: 48px;
  height: 48px;
  background: #81705D !important;
  border-radius: 24px;
}

.react-calendar__tile--now {
  background: #EDEDED !important;
  border-radius: 24px;
  width: 48px;
  height: 48px;
}

.react-calendar__month-view__days > button:hover {
  border-radius: 24px;
  width: 48px;
  height: 48px;
  background: #bdbdbd !important;
}

 .react-calendar__month-view__days abbr {
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
 }

 .react-calendar__navigation > *:not(.react-calendar__navigation__label){
  width: 44px;
}

.react-calendar__navigation__label {
  width:150px
}

.left-content h1{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin-left: 60px;

}

.emotion-post-button, .gratitude-post-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width:410px
}

.emotion-post-button > .button {
  position: relative;
  width: 50px;
  height: 50px;
  background: #CDBBA2;
  border-radius: 30px;
}

.emotion-post-button > .button > h1 {
  position: absolute;
  top:-10px;
  right: 10px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #FFFFFF;
  vertical-align: center;
  text-align: center;
}

.gratitude-post-button > .button {
  position: relative;
  width: 50px;
  height: 50px;
  background: #81644A;
  border-radius: 30px;
  
}

.emotion-post-button > h1 {
  color: #CDBBA2;
}

.emotion-post-button {
  margin-top: 650px;
}

.gratitude-post-button {
  margin-top: 60px;
  color: #81644A;
}

.gratitude-post-button > .button > h1 {
  position: absolute;
  right: 10px;
  color: #FFFFFF;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  top:-10px;
}

.emotion-post-button .button:hover {
  cursor: pointer;
}

.gratitude-post-button .button h1:hover {
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 200px
}

/*
.dimple {
  position: absolute;
  width: 200px;
  height: 100px;
  background:#E6EAE4;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 1;
}
*/

/*CSS for the Bonding Journal Gratitude Box-------------------------*/
.bonding-journal-gratitude-box {
  margin:0 auto;
  background: #81644A;
  width: 541px;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
}

.bonding-journal-gratitude-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 7px;
  height: 100%;
  background-color: #81644A;
  border-radius: 4px;
}

.bonding-journal-gratitude-box > h1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  padding: 30px;
}

/*CSS for the Bonding Journal Emotion Box-------------------------*/
.bonding-journal-emotion-box {
  margin:0 auto;
  align-items: center;
  display: flex;
  width: 541px;
  background: #CDBBA2;
  border-radius: 20px;
  margin-bottom: 30px;
  padding:30px 0px 30px 0px;
  position: relative;
}

.bonding-journal-emotion-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 7px;
  height: 100%;
  background-color: #81644A;
  border-radius: 4px;
}

.bonding-journal-emotion-box > img {
  filter: brightness(0) invert(1);
  width: 48px;
  height: 48px;
  margin-left: 30px;
}

.bonding-journal-emotion-box > h1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin-right: 20px;
  margin-left: 20px;
}

