.App {
  text-align: center;
}

html, body {
  width: 100%;
  min-height: 100%;
  background: conic-gradient(from 169.99deg at 38.79% 56.55%, #DDC3B0 -39.44deg, #E6D2F7 48.14deg, #C4F4EF 132.64deg, #C6E3D9 171.28deg, #DDC3B0 320.56deg, #E6D2F7 408.14deg);
  font-family: 'Helvetica Neue';
  background-size: cover; 
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*CSS for the Login Page----------------------------*/
.Login-Box {
  width: 699px;
  height: 504px;
  background: rgba(255, 255, 255, 0.51);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 69px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.Login-Box > h1 {
  color:#67CAB8;
  text-align: center;
  margin-top: 10%;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
}

.Login-Box > input {
  background: #D9D9D9;
  border-radius: 16px;
  width: 493px;
  height: 54px;
  margin-top: 40px;
  padding-left: 20px;
  border: 0;
  outline: 0;
}

::placeholder {
  color: #8B8888;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}

.Login-Box > p {
  color: #797979;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  margin-top: 10%;
}

/*CSS for the Landingpage----------------------------------------*/
.Landingpage-Header {
  width: 100%;
  height: 600px;
  background: #F2DBC5;
  z-index: 0;
}

.Landingpage-Header > h1 {
  margin-left: 10%;
  color: #A1876F;
  font-weight: 700;
  font-size: 64px;
  padding-top: 70px;
  position: relative;
  z-index: 2;
}

.Landingpage-Header > button {
  position: absolute;
  width: 291px;
  height: 66px;
  left: 10%;
  top: 565px;
  background: linear-gradient(179.05deg, #C9AC91 0.81%, #81644A 199.8%);
  border: 3px dashed #483B2E;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color:#FFFEFC;
  z-index: 2;
}

.Landingpage-Header > button:hover{
  color:#81644A;
  cursor: pointer;
}

.header-content{
  position: relative;
  width: 675px;
  height: 166px;
  inline-size: 750px;
  overflow-wrap: break-word;
  margin-left: 10%;
  color: #81644A;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin-top:200px;
  z-index: 2;
}

.Landingpage-Box1, .Landingpage-Box2, .Landingpage-Box3{
  width: 80%;
  height: 850px;
  background: linear-gradient(108.52deg, rgba(255, 254, 252, 0.5) 2.73%, rgba(255, 224, 177, 0.475) 50.33%, rgba(253, 253, 253, 0.5) 98.36%);
  opacity: 1.0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 53px;
  margin: auto;
  margin-bottom: 10%;
}

.Box1-content, .Box2-content, .Box3-content {
  color: #81644A;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  overflow-wrap: break-word;
}

.Landingpage-Box1 {
  margin-top: 10%;
}

.Box1-content {
  text-align: right;
  margin-right: 50px;
  position: absolute;
  inline-size: 950px;
  right: 50px;
  top: 50px;
}

.Landingpage-Box1 > img {
  position: absolute;
  width: 700px;
  height: 1400px;
  top:-120px;
}

.Box2-content {
  text-align: left;
  margin-left: 50px;
  position: absolute;
  inline-size: 1050px;
  left: 50px;
  top: 70px;
}

.Landingpage-Box2 > img {
  position: absolute;
  width: 1200px;
  height: 1300px;
  top:-130px;
  right:-115px;
}

.Box3-content {
  text-align: right;
  margin-right: 50px;
  position: absolute;
  inline-size: 1200px;
  right: 50px;
  top: 70px;
}

.Landingpage-Box3 > img {
  position: absolute;
  width: 500px;
  height: 500px;
  top:300px;
  left:60px;
}

.small-bean{
  position:absolute;
  right: 15%;
  top:150px;
  z-index: 2;
}

.large-bean{
  position:absolute;
  right:16%;
  top:290px;
  z-index: 2;
}

.plant-pot{
  position:absolute;
  right:10%;
  top: 358px;
}

.mark-left{
  position:absolute;
  left:0;
  top: 0;
  width:600px;
  z-index: 1;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.mark-right-top{
  position:absolute;
  right: 0;
  top: 0;
  z-index: 1;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}