@font-face {
  font-family: myyLightFont;
  src: url("./../../fonts/HelveticaNeue\ Light.ttf");
}
.headerTop {
  width: 100%;
}
.headerTop ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 29px 5%;
  list-style-type: none;

}
.headerTop ul li {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  margin-left: 29px;
  cursor: pointer;
  line-height: 39px;
  font-family: myyLightFont;
  color: #797979;
}

.headerTop ul li:hover{
    color: #000000;
}
.headerTop ul a{
    text-decoration: none;
}
